/* Index.html */
body, html {
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* this would handle horizontal scroll/whitespace */
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
}

.indexH{
    background-color: #00274c; 
    color:white;
    padding: 1em;
    text-align: center;
}

h2{
    color:#e6ac00;
    /* color: #00274c; ; */
}

.submit-button {
    background-color: #e6ac00;
    color: #00274c; 
    border-radius: 50px;
    padding: 10px 20px;
    margin-top: 10px;
    font-size: 16px;
    position: relative;
    left: 80px;
}

.text{
    position:relative; 
    left:80px;
}

/* Add this CSS to your existing Styling.css file */

button {
    padding: 10px 20px; /* Adjust as needed */
    font-size: 16px; /* Adjust as needed */
    background-color: #000; /* Black background color */
    color: #fff; /* White text color */
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #00274c;
    color: #e6ac00;
}

.text input[type="radio"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 2px solid #000;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    margin-right: 5px; /* Adjust spacing as needed */
}

.text input[type="radio"]:checked {
    background-color: #000;
}

nav {
    background-color: #ffcb05;
    text-align: center; 
    padding: 1em 0;
}

nav ul.nav-links {
    list-style: none;
    padding: 0;
    margin: 0;
    display: inline-block;
}

nav ul.nav-links li {
    display: inline;
    margin: 0 1em;  /* Adjusts the space between the menu links. */
}

nav ul.nav-links a {
    color: #00274c;
    text-decoration: none;
    font-size: large;
    font-weight: 600; /* You might want to make the links a little bolder */
}

nav ul.nav-links a:hover,
nav ul.nav-links a:focus {
    color: #333;
    text-decoration: underline;
}

.info-button {
    border: none;
    background: #e6ac00;
    color: white;
    border-radius: 50%;
    height: 15px;
    width: 15px;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    cursor: pointer;
}

footer {
    background-color: #00274c; 
    color: #fff;
    padding: 1em;
    text-align: center;
    flex-shrink: 0;
}

footer a {
    color: #fff;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}