html, body {
    margin: 0;
    padding: 0;
}

#category {
    font-size:xx-large;
}

#allQuestions {
    padding-left: 5%;
}

#headerIndex {
    text-align: center;
    color: #FFCB05;
    margin: 0;
}

header {
    background-color: #00274c ;
    margin: 0;
    padding: 0;
    
}